API_URL = ""
API_CHAT_HISTORY_URL = ""
API_CREATE_CONVERSATION_URL = ""
API_LATEST_CONVERSATIONS_IDS_URL= ""
API_TOKEN_URL = ""
API_CREATE_USER = ""


DB_URL = ""

SECRET_KEY = ""
ALGORITHM = ""
JWT_EXPIRES_TIME_MINUTES=